In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from src.config import PROCESSED_DATA_DIR, INTERIM_DATA_DIR

input_train_path: Path = INTERIM_DATA_DIR / "trainset.csv"

df = pd.read_csv(str(input_train_path), index_col='id')
df.head()

2024-10-12 21:37:58.653 | INFO     | dbos.config:<module>:14 - PROJ_ROOT path is: G:\Work\DS\dont-bet-on-sports

,season,event_date,tm_nano,tm_market,tm_name,tm_alias,opp_nano,opp_market,opp_name,opp_alias,...,opp_rush_tds,opp_rush_yds,opp_third_down_att,opp_third_down_conv,opp_third_down_conv_pct,opp_time_of_possession,opp_times_sacked,opp_total_yds,opp_turnovers,opp_yds_sacked_for
id,,,,,,,,,,,,,,,,,,,,,
200009030min,2000,2000-09-03,AzOs5UWsXusSW,Minnesota,Vikings,MIN,1vVmWGzUZ1rea,Chicago,Bears,CHI,...,1,153,15,9,0.600,1954,2,425,1,18
200009030kan,2000,2000-09-03,oiGiwWPf0UqMC,Kansas City,Chiefs,KC,LJmHetie5VbbO,Indianapolis,Colts,IND,...,1,119,13,6,0.462,1993,1,386,2,6
200009030was,2000,2000-09-03,9JtBk8kFeaGEs,Washington,Football Team,WAS,jJBGuksuDJF5L,Carolina,Panthers,CAR,...,0,112,11,2,0.182,1606,6,236,1,59
200009030atl,2000,2000-09-03,mLspw4gJNTQGN,Atlanta,Falcons,ATL,IwSI92ZDKoazn,San Francisco,49ers,SF,...,1,92,9,2,0.222,1701,1,339,1,6
200009030cle,2000,2000-09-03,IR4gIYmh269EI,Cleveland,Browns,CLE,RtOjnciWkJPaL,Jacksonville,Jaguars,JAC,...,2,119,16,10,0.625,2223,4,398,0,22

In [2]:
from src.features import prepare_data

df = prepare_train_data(df)

2024-10-12 21:38:53.950 | INFO     | dbos.features:prepare_data:97 - Created STATS

In [3]:
processed_train_path: Path = PROCESSED_DATA_DIR / "trainset.csv"
df.to_csv(processed_train_path)